.image { width: 242px;
         height: 200px}

.form-buttons {display: inline-block;}

.jumbotron {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 400px;
    background-image: url(/static/images/oe_main.jpg);
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: #d9534f 0.3em 0.3em 0.3em;
    text-align: center;
    padding-top: 5px;
}
