{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12">
      <h1>Bürgerforum <span class="no-wrap">Oer-Erkenschwick</span></h1>
    </div>
  </div>
</div>
{% for post in posts %}
  <div class="panel panel-danger">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">{{ post.headline }}</h3>
      {% if session['logged_in'] %}
      <!-- Manipulate entries -->
        <div class="pull-right btn-group">
          <form action="{{ url_for('update_entry', post_id=post._id) }}" method="POST" class="form-buttons">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="_method" value="UPDATE" />
              <button type="button submit" class="btn btn-warning btn-xs">Bearbeiten
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              </button>
          </form>
          <form action="{{ url_for('delete_entry', post_id=post._id) }}" method="POST" class="form-buttons">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="_method" value="DELETE" />
              <button type="button submit" class="btn btn-danger btn-xs">Löschen
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="panel-body">
      <center>
        {% if post.main_image %}
          <img src={{post.main_image}} class="img-thumbnail main-image" alt="Bürgerforum OE Logo">
        {% else %}
          <img src="/static/images/buergerforum_logo_4.pdf" class="img-thumbnail main-image" alt="Bürgerforum OE Logo">
        {% endif %}
      </center>
      <td>{{ post.content|markdown }}</td>
      <hr>
      <em>Von:</em> {{ post.author }}, {{ post.created.strftime("%d.%m.%y um %H:%M Uhr") }}
      {% if post.modified %}
        (zuletzt bearbeitet am {{ post.modified.strftime("%d.%m.%y um %H:%M Uhr") }})
      {% endif %}
    </div>
  </div>
{% endfor %}
</p>
{% endblock %}
